<a href="https://colab.research.google.com/github/bntumb/Neural-Networks-Module-CE889/blob/main/Lab_2_(Pre_process_the_data).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Author: Ben-Elie Ntumba

#**Loading Dependencies**

In [54]:
import numpy as np
import pandas as pd

import io

# preprocessing
from statistics import median
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split


# **Loading data**

The data was sourced from running the Lunar Lander game, and uploaded to GitHub

In [33]:
data_url = "https://raw.githubusercontent.com/bntumb/Neural-Networks-Module-CE889/main/ce889_dataCollection.csv"

dataset = pd.read_csv(data_url, header=None)

In [34]:
dataset.head()

            0      1    2     3
0 -169.006721  431.9  0.0  0.00
1 -169.006721  431.9 -0.1  0.04
2 -169.046721  432.0 -0.2  0.00
3 -169.046721  432.2 -0.3  0.04
4 -169.086721  432.5 -0.4  0.00

In [37]:
dataset.fillna(median, inplace=True)

scale the data

In [47]:

scaler = MinMaxScaler(feature_range=(0, 1))
# transform data
data_scaled = scaler.fit_transform(dataset)

In [48]:
data_scaled = pd.DataFrame(data=data_scaled, columns=['input1','input2','output1','output2'])

In [50]:
data_scaled.shape

(662, 4)

In [41]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [51]:
data_scaled.drop_duplicates()

       input1    input2   output1   output2
0    0.005812  0.540389  0.323195  0.592560
1    0.005812  0.540389  0.314690  0.598720
2    0.005677  0.540538  0.306184  0.592560
3    0.005677  0.540835  0.297679  0.598720
4    0.005542  0.541281  0.289174  0.592560
..        ...       ...       ...       ...
657  0.646146  0.047344  1.000000  0.588759
658  0.646229  0.035508  1.000000  0.588759
659  0.646312  0.023672  1.000000  0.588759
660  0.646396  0.011836  1.000000  0.588759
661  0.646479  0.000000  1.000000  0.588759

[662 rows x 4 columns]

#Splitting the Data

In [58]:
X = data_scaled.drop(['output1', 'output2'] , axis = 1) 
output1 = data_scaled['output1']
output2 =  data_scaled['output2']

X_train, X_val, y_train, y_val = train_test_split(X,
pd.DataFrame({'output1':output1,'output2':output2}),test_size=0.30, random_state=1)

In [64]:
t_features = X_train
t_lables = y_train

v_features = X_val
v_lables = y_val

training_Set = pd.concat([t_features, t_lables], ignore_index=True, sort=False)
val_Set = pd.concat([v_features, v_lables], ignore_index=True, sort=False)

#Saving the data

In [65]:
data_scaled.to_csv('new_dataset.csv', index=False)
training_Set.to_csv('train.csv', index=False)
val_Set.to_csv('test.csv', index=False)